<!--<div class="d-flex flex-row justify-content-center nav-bar welkin-shadow">-->
<!--    <div class="d-flex flex-row justify-content-end">-->
<!--        <div class="nav-option"><span>Home</span></div>-->
<!--        <div class="nav-option"><span>Technology</span></div>-->
<!--        <div class="nav-option active"><span>Products</span></div>-->
<!--    </div>-->
<!--    <div class="logo-div">-->
<!--        <img class="main-logo" src='/assets/logoWithName.png'>-->
<!--    </div>-->
<!--    <div class="d-flex flex-row justify-content-start">-->
<!--        <div class="nav-option"><span>About</span></div>-->
<!--        <div class="nav-option"><span>Contact</span></div>-->
<!--        <div class="nav-option"><span>News</span></div>-->
<!--    </div>-->
<!--</div>-->
<div class="d-flex flex-row justify-content-center nav-bar sticky-top welkin-shadow" id="welkin-nav-bar">
    <div class="d-flex flex-row justify-content-end">
        <div class="nav-option"><span>Home</span></div>
        <div class="nav-option"><span>Technology</span></div>
        <div class="nav-option active"><span>Products</span></div>
    </div>
<!--    <div class="logo-div" *ngIf="scrolledDown">-->
<!--        <img class="main-logo" src='/assets/logoWithName.png'>-->
<!--    </div>-->
    <div class="logo-div" id="logo-div">
        <img class="main-logo" id="main-logo" src='assets/welkin-symbol.png'>
    </div>
    <div class="d-flex flex-row justify-content-start">
        <div class="nav-option"><span>About</span></div>
        <div class="nav-option"><span>Contact</span></div>
        <div class="nav-option"><span>News</span></div>
    </div>
</div>
